In [1]:
import pandas as pd

In [ ]:
# load each raw CSV into a pandas DataFrame
click = pd.read_csv("/Users/shwe/Desktop/assignment_1_mle/data/feature_clickstream.csv")
attrs = pd.read_csv("/Users/shwe/Desktop/assignment_1_mle/data/features_attributes.csv")
fin   = pd.read_csv("/Users/shwe/Desktop/assignment_1_mle/data/features_financials.csv")
loan  = pd.read_csv("/Users/shwe/Desktop/assignment_1_mle/data/lms_loan_daily.csv")

In [3]:
click.head()

,fe_1,fe_2,fe_3,fe_4,fe_5,fe_6,fe_7,fe_8,fe_9,fe_10,...,fe_13,fe_14,fe_15,fe_16,fe_17,fe_18,fe_19,fe_20,Customer_ID,snapshot_date
0,63,118,80,121,55,193,111,112,-101,83,...,-16,-81,-126,114,35,85,-73,76,CUS_0x1037,2023-01-01
1,-108,182,123,4,-56,27,25,-6,284,222,...,-14,-96,200,35,130,94,111,75,CUS_0x1069,2023-01-01
2,-13,8,87,166,214,-98,215,152,129,139,...,26,86,171,125,-130,354,17,302,CUS_0x114a,2023-01-01
3,-85,45,200,89,128,54,76,51,61,139,...,172,96,174,163,37,207,180,118,CUS_0x1184,2023-01-01
4,55,120,226,-86,253,97,107,68,103,126,...,76,43,183,159,-26,104,118,184,CUS_0x1297,2023-01-01

In [13]:
attrs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12500 entries, 0 to 12499
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Customer_ID    12500 non-null  object
 1   Name           12500 non-null  object
 2   Age            12500 non-null  object
 3   SSN            12500 non-null  object
 4   Occupation     12500 non-null  object
 5   snapshot_date  12500 non-null  object
dtypes: object(6)
memory usage: 586.1+ KB

In [5]:
fin.head()

,Customer_ID,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,snapshot_date
0,CUS_0x1000,30625.94,2706.161667,6,5,27,2,"Credit-Builder Loan, and Home Equity Loan",57,26,...,Bad,1562.91,30.077191,10 Years and 9 Months,Yes,42.941090,77.31427572208112,High_spent_Medium_value_payments,400.36080052211616,2023-05-01
1,CUS_0x1009,52312.68_,4250.390000,6,5,17,4,"Not Specified, Home Equity Loan, Credit-Builde...",5,18,...,_,202.68,40.286997,31 Years and 0 Months,Yes,108.366467,58.66019164829086,High_spent_Medium_value_payments,508.01234122645366,2025-01-01
2,CUS_0x100b,113781.38999999998,9549.782500,1,4,1,0,NaN,14,8,...,Good,1030.2,28.592943,15 Years and 10 Months,No,0.000000,617.0792665202719,High_spent_Small_value_payments,597.8989834797281,2024-03-01
3,CUS_0x1011,58918.47,5208.872500,3,3,17,3,"Student Loan, Credit-Builder Loan, and Debt Co...",27,13,...,Standard,473.14,27.829959,15 Years and 10 Months,Yes,123.434939,383.35084463651407,Low_spent_Medium_value_payments,294.1014665671429,2023-11-01
4,CUS_0x1013,98620.98,7962.415000,3,3,6,3,"Student Loan, Debt Consolidation Loan, and Per...",12,9,...,Good,1233.51,26.524864,17 Years and 10 Months,No,228.018084,332.3337079767732,High_spent_Medium_value_payments,485.8897083704929,2023-12-01

In [6]:
loan.head()

,loan_id,Customer_ID,loan_start_date,tenure,installment_num,loan_amt,due_amt,paid_amt,overdue_amt,balance,snapshot_date
0,CUS_0x1000_2023_05_01,CUS_0x1000,2023-05-01,10,0,10000,0.0,0.0,0.0,10000.0,2023-05-01
1,CUS_0x1000_2023_05_01,CUS_0x1000,2023-05-01,10,1,10000,1000.0,1000.0,0.0,9000.0,2023-06-01
2,CUS_0x1000_2023_05_01,CUS_0x1000,2023-05-01,10,2,10000,1000.0,1000.0,0.0,8000.0,2023-07-01
3,CUS_0x1000_2023_05_01,CUS_0x1000,2023-05-01,10,3,10000,1000.0,0.0,1000.0,8000.0,2023-08-01
4,CUS_0x1000_2023_05_01,CUS_0x1000,2023-05-01,10,4,10000,1000.0,2000.0,0.0,6000.0,2023-09-01

In [7]:
click.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215376 entries, 0 to 215375
Data columns (total 22 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   fe_1           215376 non-null  int64
 1   fe_2           215376 non-null  int64
 2   fe_3           215376 non-null  int64
 3   fe_4           215376 non-null  int64
 4   fe_5           215376 non-null  int64
 5   fe_6           215376 non-null  int64
 6   fe_7           215376 non-null  int64
 7   fe_8           215376 non-null  int64
 8   fe_9           215376 non-null  int64
 9   fe_10          215376 non-null  int64
 10  fe_11          215376 non-null  int64
 11  fe_12          215376 non-null  int64
 12  fe_13          215376 non-null  int64
 13  fe_14          215376 non-null  int64
 14  fe_15          215376 non-null  int64
 15  fe_16          215376 non-null  int64
 16  fe_17          215376 non-null  int64
 17  fe_18          215376 non-null  int64
 18  fe_19          215376 non-null  int64
 19  fe_20          215376 non-null  int64
 20  Customer_ID    215376 non-null  object
 21  snapshot_date  215376 non-null  object
dtypes: int64(20), object(2)
memory usage: 36.2+ MB

In [8]:
dup_count = click.duplicated().sum()
print(f"Duplicate rows in click: {dup_count}")

Duplicate rows in click: 0

In [9]:
print("Unique Customer_IDs:", click['Customer_ID'].nunique())
print("Unique snapshot_dates:", click['snapshot_date'].nunique())

Unique Customer_IDs: 8974
Unique snapshot_dates: 24

In [11]:
fin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12500 entries, 0 to 12499
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Customer_ID               12500 non-null  object
 1   Annual_Income             12500 non-null  object
 2   Monthly_Inhand_Salary     12500 non-null  float64
 3   Num_Bank_Accounts         12500 non-null  int64
 4   Num_Credit_Card           12500 non-null  int64
 5   Interest_Rate             12500 non-null  int64
 6   Num_of_Loan               12500 non-null  object
 7   Type_of_Loan              11074 non-null  object
 8   Delay_from_due_date       12500 non-null  int64
 9   Num_of_Delayed_Payment    12500 non-null  object
 10  Changed_Credit_Limit      12500 non-null  object
 11  Num_Credit_Inquiries      12500 non-null  float64
 12  Credit_Mix                12500 non-null  object
 13  Outstanding_Debt          12500 non-null  object
 14  Credit_Utilization_Ratio  12500 non-null  float64
 15  Credit_History_Age        12500 non-null  object
 16  Payment_of_Min_Amount     12500 non-null  object
 17  Total_EMI_per_month       12500 non-null  float64
 18  Amount_invested_monthly   12500 non-null  object
 19  Payment_Behaviour         12500 non-null  object
 20  Monthly_Balance           12500 non-null  object
 21  snapshot_date             12500 non-null  object
dtypes: float64(4), int64(4), object(14)
memory usage: 2.1+ MB

In [15]:
# null counts
null_counts = fin.isnull().sum().sort_values(ascending=False)
# null % 
null_pct    = (fin.isnull().mean()*100).sort_values(ascending=False).round(2)

print("Null counts:\n", null_counts, "\n")
print("Null %:\n", null_pct)

Null counts:
 Type_of_Loan                1426
Customer_ID                    0
Credit_Mix                     0
Monthly_Balance                0
Payment_Behaviour              0
Amount_invested_monthly        0
Total_EMI_per_month            0
Payment_of_Min_Amount          0
Credit_History_Age             0
Credit_Utilization_Ratio       0
Outstanding_Debt               0
Num_Credit_Inquiries           0
Annual_Income                  0
Changed_Credit_Limit           0
Num_of_Delayed_Payment         0
Delay_from_due_date            0
Num_of_Loan                    0
Interest_Rate                  0
Num_Credit_Card                0
Num_Bank_Accounts              0
Monthly_Inhand_Salary          0
snapshot_date                  0
dtype: int64

Null %:
 Type_of_Loan                11.41
Customer_ID                  0.00
Credit_Mix                   0.00
Monthly_Balance              0.00
Payment_Behaviour            0.00
Amount_invested_monthly      0.00
Total_EMI_per_month          0.00
Payment_of_Min_Amount        0.00
Credit_History_Age           0.00
Credit_Utilization_Ratio     0.00
Outstanding_Debt             0.00
Num_Credit_Inquiries         0.00
Annual_Income                0.00
Changed_Credit_Limit         0.00
Num_of_Delayed_Payment       0.00
Delay_from_due_date          0.00
Num_of_Loan                  0.00
Interest_Rate                0.00
Num_Credit_Card              0.00
Num_Bank_Accounts            0.00
Monthly_Inhand_Salary        0.00
snapshot_date                0.00
dtype: float64

In [16]:
# describe only numeric
print("Numeric summary:")
display(fin.describe().T)

Numeric summary:

,count,mean,std,min,25%,50%,75%,max
Monthly_Inhand_Salary,12500.0,4188.592303,3180.147611,303.645417,1624.937917,3087.595000,5947.364167,15204.633333
Num_Bank_Accounts,12500.0,16.939920,114.350815,-1.000000,3.000000,6.000000,7.000000,1756.000000
Num_Credit_Card,12500.0,23.172720,132.005866,0.000000,4.000000,5.000000,7.000000,1499.000000
Interest_Rate,12500.0,73.213360,468.682227,1.000000,8.000000,14.000000,20.000000,5789.000000
Delay_from_due_date,12500.0,21.060880,14.863091,-5.000000,10.000000,18.000000,28.000000,67.000000
Num_Credit_Inquiries,12500.0,26.695280,184.193829,0.000000,4.000000,6.000000,10.000000,2554.000000
Credit_Utilization_Ratio,12500.0,32.349265,5.156815,20.100770,28.066517,32.418953,36.623650,48.199824
Total_EMI_per_month,12500.0,1488.394291,8561.449910,0.000000,31.496968,72.887628,169.634826,81971.000000

In [22]:
# How many unique loan types, and how many missing?
print("Type_of_Loan value counts (including NaN):")
display(fin['Type_of_Loan'].value_counts(dropna=False).to_frame("count"))

Type_of_Loan value counts (including NaN):

                                                    count
Type_of_Loan
NaN                                                  1426
Not Specified                                         176
Credit-Builder Loan                                   160
Personal Loan                                         159
Debt Consolidation Loan                               158
...                                                   ...
Debt Consolidation Loan, Home Equity Loan, Auto...      1
Student Loan, Debt Consolidation Loan, Auto Loa...      1
Credit-Builder Loan, Credit-Builder Loan, Perso...      1
Student Loan, Payday Loan, Credit-Builder Loan,...      1
Auto Loan, Payday Loan, Payday Loan, Mortgage L...      1

[6261 rows x 1 columns]

In [25]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("SilverEDA").getOrCreate()

silver = spark.read.parquet("/Users/shwe/Desktop/assignment_1_mle/datamart/silver/feature_store")
silver.printSchema()
# Convert just 20 rows to pandas for nicer display:
silver.limit(20).toPandas()

root
 |-- Customer_ID: string (nullable = true)
 |-- snapshot_date: date (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- SSN: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- Annual_Income: double (nullable = true)
 |-- Monthly_Inhand_Salary: double (nullable = true)
 |-- Num_Bank_Accounts: integer (nullable = true)
 |-- Num_Credit_Card: integer (nullable = true)
 |-- Interest_Rate: double (nullable = true)
 |-- Num_of_Loan: integer (nullable = true)
 |-- Type_of_Loan: string (nullable = true)
 |-- Delay_from_due_date: integer (nullable = true)
 |-- Num_of_Delayed_Payment: integer (nullable = true)
 |-- Changed_Credit_Limit: integer (nullable = true)
 |-- Num_Credit_Inquiries: integer (nullable = true)
 |-- Credit_Mix: string (nullable = true)
 |-- Outstanding_Debt: double (nullable = true)
 |-- Credit_Utilization_Ratio: double (nullable = true)
 |-- Credit_History_Age: double (nullable = true)
 |-- Payment_of_Min_Amount: string (nullable = true)
 |-- Total_EMI_per_month: double (nullable = true)
 |-- Amount_invested_monthly: double (nullable = true)
 |-- Payment_Behaviour: string (nullable = true)
 |-- Monthly_Balance: double (nullable = true)
 |-- Type_of_Loan_clean: string (nullable = true)
 |-- fe_1: integer (nullable = true)
 |-- fe_2: integer (nullable = true)
 |-- fe_3: integer (nullable = true)
 |-- fe_4: integer (nullable = true)
 |-- fe_5: integer (nullable = true)
 |-- fe_6: integer (nullable = true)
 |-- fe_7: integer (nullable = true)
 |-- fe_8: integer (nullable = true)
 |-- fe_9: integer (nullable = true)
 |-- fe_10: integer (nullable = true)
 |-- fe_11: integer (nullable = true)
 |-- fe_12: integer (nullable = true)
 |-- fe_13: integer (nullable = true)
 |-- fe_14: integer (nullable = true)
 |-- fe_15: integer (nullable = true)
 |-- fe_16: integer (nullable = true)
 |-- fe_17: integer (nullable = true)
 |-- fe_18: integer (nullable = true)
 |-- fe_19: integer (nullable = true)
 |-- fe_20: integer (nullable = true)
 |-- total_loan_amount: long (nullable = true)
 |-- avg_overdue_amt: double (nullable = true)
 |-- max_balance: double (nullable = true)
 |-- num_installments: long (nullable = true)

25/05/19 21:14:38 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

,Customer_ID,snapshot_date,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,...,fe_15,fe_16,fe_17,fe_18,fe_19,fe_20,total_loan_amount,avg_overdue_amt,max_balance,num_installments
0,CUS_0x1329,2023-06-01,Richarda,50,525-33-6734,Entrepreneur,160573.560,13293.130000,1,2,...,71.0,114.0,29.0,193.0,242.0,218.0,10000,0.0,10000.0,1
1,CUS_0x15df,2024-12-01,Whiteb,29,472-10-4696,Manager,162713.280,13672.440000,2,3,...,NaN,NaN,NaN,NaN,NaN,NaN,10000,0.0,10000.0,1
2,CUS_0x1a2f,2023-06-01,Lorrainey,54,894-09-8608,Journalist,152340.560,12568.046667,5,4,...,36.0,105.0,180.0,-17.0,15.0,-83.0,10000,0.0,10000.0,1
3,CUS_0x1a5a,2024-04-01,Petes,36,225-82-5288,Lawyer,32485.420,2451.118333,3,6,...,120.0,-4.0,-28.0,23.0,-67.0,111.0,10000,0.0,10000.0,1
4,CUS_0x1cf3,2023-05-01,Henryc,38,229-46-4057,Manager,66858.270,5770.522500,3,541,...,-59.0,36.0,-10.0,233.0,205.0,44.0,10000,0.0,10000.0,1
5,CUS_0x1f15,2025-01-01,Deepa Seetharamanh,19,296-58-9430,Engineer,73378.320,5832.860000,7,8,...,NaN,NaN,NaN,NaN,NaN,NaN,10000,0.0,10000.0,1
6,CUS_0x2452,2024-05-01,Juccak,17,144-82-6902,_______,0.000,5626.853333,4,7,...,275.0,-35.0,-94.0,185.0,87.0,151.0,10000,0.0,10000.0,1
7,CUS_0x261d,2023-12-01,Kirstin Ridleyg,17,897-84-1025,Architect,8400.715,418.059583,8,10,...,-7.0,108.0,165.0,-36.0,90.0,127.0,10000,0.0,10000.0,1
8,CUS_0x2ab3,2023-06-01,Steveng,16,928-63-7229,Musician,35891.330,2936.170717,5,4,...,14.0,189.0,127.0,56.0,167.0,-28.0,10000,0.0,10000.0,1
9,CUS_0x2b58,2023-08-01,Annn,33,571-37-0616,Doctor,35479.470,2927.622500,5,3,...,12.0,106.0,204.0,221.0,109.0,241.0,10000,0.0,10000.0,1
10,CUS_0x2f9d,2024-11-01,Angela Moone,5422,049-42-3355,Manager,7555.450,769.620833,8,6,...,NaN,NaN,NaN,NaN,NaN,NaN,10000,0.0,10000.0,1
11,CUS_0x3acd,2023-09-01,Laurencee,40,953-94-3809,Entrepreneur,49211.160,4048.930000,4,5,...,131.0,89.0,38.0,151.0,-77.0,34.0,10000,0.0,10000.0,1
12,CUS_0x44d5,2023-01-01,Jessica Toonkeld,40,103-44-2996,_______,9598.380,515.865000,7,6,...,297.0,68.0,120.0,33.0,-1.0,25.0,10000,0.0,10000.0,1
13,CUS_0x4798,2023-11-01,Prodhane,36,265-88-4094,Accountant,43287.280,3839.273333,7,6,...,131.0,72.0,111.0,215.0,-25.0,137.0,10000,0.0,10000.0,1
14,CUS_0x4af2,2023-12-01,Tim Hepherw,45,129-44-0183,Media_Manager,76208.520,6431.710000,5,7,...,209.0,-37.0,205.0,43.0,-153.0,120.0,10000,0.0,10000.0,1
15,CUS_0x4e94,2023-12-01,Katyaq,47,936-14-9340,Engineer,38533.760,3412.146667,4,3,...,-49.0,145.0,59.0,163.0,215.0,155.0,10000,0.0,10000.0,1
16,CUS_0x4fac,2023-08-01,Taras,44,339-46-1689,Scientist,0.000,10248.626667,5,5,...,140.0,6.0,121.0,-72.0,211.0,111.0,10000,0.0,10000.0,1
17,CUS_0x5105,2024-11-01,Forgionex,51,834-61-1097,Mechanic,80191.380,6293.827869,2,3,...,NaN,NaN,NaN,NaN,NaN,NaN,10000,0.0,10000.0,1
18,CUS_0x514e,2024-04-01,Clara Ferreira-Marquesb,24,418-27-3029,Teacher,0.000,1033.626667,10,7,...,3.0,29.0,130.0,-7.0,70.0,90.0,10000,0.0,10000.0,1
19,CUS_0x56f9,2023-08-01,Dis,37,502-99-8860,Doctor,34733.440,3163.453333,3,7,...,-30.0,105.0,74.0,123.0,-76.0,210.0,10000,0.0,10000.0,1

In [49]:
# 1. Register the DataFrame as a temporary view
silver.createOrReplaceTempView("silver_view")

# 2. Run any SQL you like
result = spark.sql("""
  SELECT
    Age,
    COUNT(*)          AS n_users,
    ROUND(AVG(Annual_Income), 2) AS avg_income
  FROM silver_view
  WHERE Age BETWEEN 18 AND 65
  GROUP BY Age
  ORDER BY Age DESC
""")

# 3. Show the top results
result.show(10, truncate=False)

25/05/19 22:05:10 ERROR Executor: Exception in task 0.0 in stage 64.0 (TID 44)
org.apache.spark.SparkFileNotFoundException: File file:/Users/shwe/Desktop/assignment_1_mle/datamart/silver/feature_store/part-00000-dbd0f696-1aee-4ec8-93d6-6be6f918e74b-c000.snappy.parquet does not exist
It is possible the underlying files have been updated. You can explicitly invalidate the cache in Spark by running 'REFRESH TABLE tableName' command in SQL or by recreating the Dataset/DataFrame involved.
	at org.apache.spark.sql.errors.QueryExecutionErrors$.readCurrentFileNotFoundError(QueryExecutionErrors.scala:781)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.org$apache$spark$sql$execution$datasources$FileScanRDD$$anon$$readCurrentFile(FileScanRDD.scala:222)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.nextIterator(FileScanRDD.scala:282)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:131)
	at org.apache.spark.sql.execution.FileSourceScanExec$$anon$1.hasNext(DataSourceScanExec.scala:593)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.columnartorow_nextBatch_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.hashAgg_doAggregateWithKeys_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:140)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:104)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:54)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:750)
25/05/19 22:05:10 WARN TaskSetManager: Lost task 0.0 in stage 64.0 (TID 44) (192.168.18.3 executor driver): org.apache.spark.SparkFileNotFoundException: File file:/Users/shwe/Desktop/assignment_1_mle/datamart/silver/feature_store/part-00000-dbd0f696-1aee-4ec8-93d6-6be6f918e74b-c000.snappy.parquet does not exist
It is possible the underlying files have been updated. You can explicitly invalidate the cache in Spark by running 'REFRESH TABLE tableName' command in SQL or by recreating the Dataset/DataFrame involved.
	at org.apache.spark.sql.errors.QueryExecutionErrors$.readCurrentFileNotFoundError(QueryExecutionErrors.scala:781)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.org$apache$spark$sql$execution$datasources$FileScanRDD$$anon$$readCurrentFile(FileScanRDD.scala:222)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.nextIterator(FileScanRDD.scala:282)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:131)
	at org.apache.spark.sql.execution.FileSourceScanExec$$anon$1.hasNext(DataSourceScanExec.scala:593)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.columnartorow_nextBatch_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.hashAgg_doAggregateWithKeys_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:140)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:104)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:54)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:750)

25/05/19 22:05:10 ERROR TaskSetManager: Task 0 in stage 64.0 failed 1 times; aborting job

Py4JJavaError: An error occurred while calling o112.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 64.0 failed 1 times, most recent failure: Lost task 0.0 in stage 64.0 (TID 44) (192.168.18.3 executor driver): org.apache.spark.SparkFileNotFoundException: File file:/Users/shwe/Desktop/assignment_1_mle/datamart/silver/feature_store/part-00000-dbd0f696-1aee-4ec8-93d6-6be6f918e74b-c000.snappy.parquet does not exist
It is possible the underlying files have been updated. You can explicitly invalidate the cache in Spark by running 'REFRESH TABLE tableName' command in SQL or by recreating the Dataset/DataFrame involved.
	at org.apache.spark.sql.errors.QueryExecutionErrors$.readCurrentFileNotFoundError(QueryExecutionErrors.scala:781)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.org$apache$spark$sql$execution$datasources$FileScanRDD$$anon$$readCurrentFile(FileScanRDD.scala:222)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.nextIterator(FileScanRDD.scala:282)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:131)
	at org.apache.spark.sql.execution.FileSourceScanExec$$anon$1.hasNext(DataSourceScanExec.scala:593)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.columnartorow_nextBatch_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.hashAgg_doAggregateWithKeys_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:140)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:104)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:54)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:750)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2856)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2792)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2791)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2791)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1247)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1247)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1247)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:3060)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2994)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2983)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
Caused by: org.apache.spark.SparkFileNotFoundException: File file:/Users/shwe/Desktop/assignment_1_mle/datamart/silver/feature_store/part-00000-dbd0f696-1aee-4ec8-93d6-6be6f918e74b-c000.snappy.parquet does not exist
It is possible the underlying files have been updated. You can explicitly invalidate the cache in Spark by running 'REFRESH TABLE tableName' command in SQL or by recreating the Dataset/DataFrame involved.
	at org.apache.spark.sql.errors.QueryExecutionErrors$.readCurrentFileNotFoundError(QueryExecutionErrors.scala:781)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.org$apache$spark$sql$execution$datasources$FileScanRDD$$anon$$readCurrentFile(FileScanRDD.scala:222)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.nextIterator(FileScanRDD.scala:282)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:131)
	at org.apache.spark.sql.execution.FileSourceScanExec$$anon$1.hasNext(DataSourceScanExec.scala:593)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.columnartorow_nextBatch_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.hashAgg_doAggregateWithKeys_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:140)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:104)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:54)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:750)

In [50]:
# In your notebook, before running your query again:
spark.sql("REFRESH TABLE silver_view")

DataFrame[]

In [51]:
# How many records per snapshot_date?
spark.sql("""
  SELECT snapshot_date,
         COUNT(*) AS n_records
  FROM silver_view
  GROUP BY snapshot_date
  ORDER BY snapshot_date
""").show(20, truncate=False)

+-------------+---------+
|snapshot_date|n_records|
+-------------+---------+
|2023-01-01   |530      |
|2023-02-01   |501      |
|2023-03-01   |506      |
|2023-04-01   |510      |
|2023-05-01   |521      |
|2023-06-01   |517      |
|2023-07-01   |471      |
|2023-08-01   |481      |
|2023-09-01   |454      |
|2023-10-01   |487      |
|2023-11-01   |491      |
|2023-12-01   |489      |
|2024-01-01   |485      |
|2024-02-01   |518      |
|2024-03-01   |511      |
|2024-04-01   |513      |
|2024-05-01   |491      |
|2024-06-01   |498      |
|2024-07-01   |505      |
|2024-08-01   |543      |
+-------------+---------+
only showing top 20 rows

In [52]:
# Which ages are most common?
spark.sql("""
  SELECT Age,
         COUNT(*) AS n_users
  FROM silver_view
  GROUP BY Age
  ORDER BY n_users DESC
""").show(20, truncate=False)

+---+-------+
|Age|n_users|
+---+-------+
|-1 |637    |
|26 |364    |
|35 |361    |
|39 |360    |
|32 |360    |
|38 |345    |
|28 |343    |
|44 |343    |
|20 |342    |
|41 |340    |
|25 |340    |
|36 |339    |
|31 |336    |
|19 |336    |
|29 |336    |
|37 |333    |
|30 |330    |
|27 |326    |
|22 |326    |
|34 |325    |
+---+-------+
only showing top 20 rows

In [53]:
# dominant job categories.
spark.sql("""
  SELECT Occupation,
         COUNT(*) AS cnt
  FROM silver_view
  GROUP BY Occupation
  ORDER BY cnt DESC
""").show(20, truncate=False)

+-------------+---+
|Occupation   |cnt|
+-------------+---+
|unknown      |880|
|Lawyer       |828|
|Architect    |795|
|Engineer     |793|
|Accountant   |791|
|Scientist    |789|
|Teacher      |782|
|Media_Manager|780|
|Developer    |780|
|Mechanic     |780|
|Entrepreneur |776|
|Journalist   |761|
|Doctor       |760|
|Musician     |741|
|Manager      |736|
|Writer       |728|
+-------------+---+

In [47]:
# How do users split across “Unknown”, “Multiple”, and each loan?

spark.sql("""
  SELECT Type_of_Loan_clean,
         COUNT(*) AS cnt
  FROM silver_view
  GROUP BY Type_of_Loan_clean
  ORDER BY cnt DESC
""").show(truncate=False)

+-----------------------+----+
|Type_of_Loan_clean     |cnt |
+-----------------------+----+
|Multiple               |9683|
|Unknown                |1602|
|Credit-builder Loan    |160 |
|Personal Loan          |159 |
|Debt Consolidation Loan|158 |
|Student Loan           |155 |
|Payday Loan            |150 |
|Mortgage Loan          |147 |
|Auto Loan              |144 |
|Home Equity Loan       |142 |
+-----------------------+----+

In [54]:
# How does credit utilization vary by Credit_Mix?
spark.sql("""
  SELECT Credit_Mix,
         ROUND(AVG(Credit_Utilization_Ratio),2) AS avg_util,
         COUNT(*)                        AS cnt
  FROM silver_view
  GROUP BY Credit_Mix
  ORDER BY avg_util DESC
""").show(truncate=False)

+----------+--------+----+
|Credit_Mix|avg_util|cnt |
+----------+--------+----+
|Good      |32.97   |3032|
|unknown   |32.29   |2611|
|Standard  |32.26   |4497|
|Bad       |31.79   |2360|
+----------+--------+----+

In [ ]:
# Clickstream signal overview
spark.sql("""
  SELECT
    ROUND(AVG(fe_1),2)  AS avg_fe1,
    ROUND(AVG(fe_2),2)  AS avg_fe2,
    ROUND(AVG(fe_3),2)  AS avg_fe3,
    ROUND(AVG(fe_4),2)  AS avg_fe4,
    ROUND(AVG(fe_5),2)  AS avg_fe5
  FROM silver_view
""").show(truncate=False)

+-------+-------+-------+-------+-------+
|avg_fe1|avg_fe2|avg_fe3|avg_fe4|avg_fe5|
+-------+-------+-------+-------+-------+
|103.06 |103.23 |103.83 |105.33 |107.04 |
+-------+-------+-------+-------+-------+

In [78]:
# reload & register
silver = spark.read.parquet("/Users/shwe/Desktop/assignment_1_mle/datamart/silver/feature_store")
silver.createOrReplaceTempView("silver_view")

In [66]:
spark.sql("""
  SELECT
    ROUND(100 * SUM(CASE WHEN Age              IS NULL THEN 1 ELSE 0 END) / COUNT(*), 2) AS Age_null_pct,
    ROUND(100 * SUM(CASE WHEN Occupation       IS NULL THEN 1 ELSE 0 END) / COUNT(*), 2) AS Occ_null_pct,
    ROUND(100 * SUM(CASE WHEN Annual_Income    IS NULL THEN 1 ELSE 0 END) / COUNT(*), 2) AS Income_null_pct,
    ROUND(100 * SUM(CASE WHEN total_loan_amount IS NULL THEN 1 ELSE 0 END) / COUNT(*), 2) AS LoanAmt_null_pct,
    ROUND(100 * SUM(CASE WHEN num_installments IS NULL THEN 1 ELSE 0 END) / COUNT(*), 2) AS Instl_null_pct
  FROM silver_view
""").show(truncate=False)

+------------+------------+---------------+----------------+--------------+
|Age_null_pct|Occ_null_pct|Income_null_pct|LoanAmt_null_pct|Instl_null_pct|
+------------+------------+---------------+----------------+--------------+
|0.0         |0.0         |0.0            |0.0             |0.0           |
+------------+------------+---------------+----------------+--------------+

In [67]:
spark.sql("""
  SELECT
    percentile_approx(Annual_Income,       array(0.01,0.05,0.25,0.5,0.75,0.95,0.99)) AS income_q,
    percentile_approx(Outstanding_Debt,    array(0.01,0.05,0.25,0.5,0.75,0.95,0.99)) AS debt_q,
    percentile_approx(total_loan_amount,   array(0.01,0.05,0.25,0.5,0.75,0.95,0.99)) AS loan_q,
    percentile_approx(num_installments,    array(0.01,0.05,0.25,0.5,0.75,0.95,0.99)) AS instl_q,
    percentile_approx(Credit_History_Age,  array(0.01,0.05,0.25,0.5,0.75,0.95,0.99)) AS hist_q
  FROM silver_view
""").show(truncate=False)

+--------------------------------------------------------------+-------------------------------------------------------+-------------------------------------------------+---------------------+------+
|income_q                                                      |debt_q                                                 |loan_q                                           |instl_q              |hist_q|
+--------------------------------------------------------------+-------------------------------------------------------+-------------------------------------------------+---------------------+------+
|[0.0, 0.0, 17442.09, 34838.94, 70088.36, 132398.13, 177907.72]|[0.0, 91.91, 550.67, 1151.7, 1933.58, 4070.33, 4799.54]|[10000, 10000, 10000, 10000, 10000, 10000, 10000]|[1, 1, 1, 1, 1, 1, 1]|NULL  |
+--------------------------------------------------------------+-------------------------------------------------------+-------------------------------------------------+---------------------+------+

In [68]:
spark.sql("""
  SELECT
    corr(Annual_Income, Outstanding_Debt)     AS corr_inc_debt,
    corr(Annual_Income, total_loan_amount)    AS corr_inc_loan,
    corr(total_loan_amount, avg_overdue_amt)  AS corr_loan_overdue,
    corr(fe_1 + fe_2 + fe_3 + fe_4 + fe_5, Outstanding_Debt) AS corr_beh_debt
  FROM silver_view
""").show(truncate=False)

+--------------------+-------------+-----------------+-------------------+
|corr_inc_debt       |corr_inc_loan|corr_loan_overdue|corr_beh_debt      |
+--------------------+-------------+-----------------+-------------------+
|-0.01537526479056011|NULL         |NULL             |0.03812338725809156|
+--------------------+-------------+-----------------+-------------------+

In [69]:
spark.sql("""
  SELECT
    COUNT(*) AS total_users,
    SUM(CASE WHEN num_installments = 0 THEN 1 ELSE 0 END) AS zero_inst,
    SUM(CASE WHEN avg_overdue_amt > 0 THEN 1 ELSE 0 END)    AS any_overdue,
    ROUND(AVG(num_installments),2)                         AS avg_inst,
    ROUND(AVG(avg_overdue_amt),2)                          AS avg_overdue
  FROM silver_view
""").show(truncate=False)

+-----------+---------+-----------+--------+-----------+
|total_users|zero_inst|any_overdue|avg_inst|avg_overdue|
+-----------+---------+-----------+--------+-----------+
|12500      |0        |0          |1.0     |0.0        |
+-----------+---------+-----------+--------+-----------+

In [80]:
spark.sql("""
  SELECT
    CASE
      WHEN Credit_History_Age < 1  THEN '<1yr'
      WHEN Credit_History_Age < 3  THEN '1-3yr'
      WHEN Credit_History_Age < 5  THEN '3-5yr'
      ELSE '5+yr'
    END AS hist_bucket,
    COUNT(*) AS cnt,
    ROUND(AVG(Outstanding_Debt),2) AS avg_debt
  FROM silver_view
  GROUP BY hist_bucket
  ORDER BY cnt DESC
""").show(truncate=False)

+-----------+-----+--------+
|hist_bucket|cnt  |avg_debt|
+-----------+-----+--------+
|5+yr       |12500|1411.21 |
+-----------+-----+--------+

In [79]:

spark.sql("""
  SELECT
    MIN(Credit_History_Age)   AS min_hist,
    percentile_approx(Credit_History_Age, array(0.10,0.25,0.50,0.75,0.90)) AS quantiles,
    MAX(Credit_History_Age)   AS max_hist
  FROM silver_view
""").show(truncate=False)

+--------+---------+--------+
|min_hist|quantiles|max_hist|
+--------+---------+--------+
|NULL    |NULL     |NULL    |
+--------+---------+--------+

In [81]:
# 1) Load the raw financials CSV
raw_fin = spark.read \
    .option("header", True) \
    .csv("/Users/shwe/Desktop/assignment_1_mle/data/features_financials.csv")

# 2) See all distinct Credit_History_Age strings
raw_fin.select("Credit_History_Age") \
       .distinct() \
       .orderBy("Credit_History_Age") \
       .show(50, truncate=False)

+----------------------+
|Credit_History_Age    |
+----------------------+
|0 Years and 10 Months |
|0 Years and 11 Months |
|0 Years and 8 Months  |
|0 Years and 9 Months  |
|1 Years and 0 Months  |
|1 Years and 10 Months |
|1 Years and 11 Months |
|1 Years and 2 Months  |
|1 Years and 3 Months  |
|1 Years and 4 Months  |
|1 Years and 5 Months  |
|1 Years and 6 Months  |
|1 Years and 7 Months  |
|1 Years and 8 Months  |
|1 Years and 9 Months  |
|10 Years and 0 Months |
|10 Years and 1 Months |
|10 Years and 10 Months|
|10 Years and 11 Months|
|10 Years and 2 Months |
|10 Years and 3 Months |
|10 Years and 4 Months |
|10 Years and 5 Months |
|10 Years and 6 Months |
|10 Years and 7 Months |
|10 Years and 8 Months |
|10 Years and 9 Months |
|11 Years and 0 Months |
|11 Years and 1 Months |
|11 Years and 10 Months|
|11 Years and 11 Months|
|11 Years and 2 Months |
|11 Years and 3 Months |
|11 Years and 4 Months |
|11 Years and 5 Months |
|11 Years and 6 Months |
|11 Years and 7 Months |
|11 Years and 8 Months |
|11 Years and 9 Months |
|12 Years and 0 Months |
|12 Years and 1 Months |
|12 Years and 10 Months|
|12 Years and 11 Months|
|12 Years and 2 Months |
|12 Years and 3 Months |
|12 Years and 4 Months |
|12 Years and 5 Months |
|12 Years and 6 Months |
|12 Years and 7 Months |
|12 Years and 8 Months |
+----------------------+
only showing top 50 rows

In [85]:
# 1. Read the updated Silver parquet
silver = spark.read.parquet("/Users/shwe/Desktop/assignment_1_mle/datamart/silver/feature_store")

# 2. (Re)create the SQL view
silver.createOrReplaceTempView("silver_view")

In [86]:
spark.sql("""
  SELECT
    MIN(Credit_History_Age)   AS min_hist,
    percentile_approx(Credit_History_Age, array(0.10,0.25,0.50,0.75,0.90)) AS hist_quantiles,
    MAX(Credit_History_Age)   AS max_hist
  FROM silver_view
""").show(truncate=False)

+------------------+------------------------------------------------------------------------+------------------+
|min_hist          |hist_quantiles                                                          |max_hist          |
+------------------+------------------------------------------------------------------------+------------------+
|0.6666666666666666|[7.25, 12.333333333333334, 18.5, 25.416666666666668, 30.416666666666668]|33.666666666666664|
+------------------+------------------------------------------------------------------------+------------------+

In [10]:
# 1) Read with full path
gold = spark.read.parquet("../datamart/gold/feature_store")

# 2) Register & query
gold.createOrReplaceTempView("gold_view")
spark.sql("SELECT COUNT(*) AS total_rows FROM gold_view").show()
spark.sql("SELECT * FROM gold_view LIMIT 200").show(truncate=False)

+----------+
|total_rows|
+----------+
|     12500|
+----------+

+-----------+-------------+-----------+-----------+---------------------+-------------------+-------------------+---------+-----------+----------------+-----------+----+----+----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+---------+-----+------------+---------------------+-----------+------------------+----------+---------------------+--------------------------------+
|Customer_ID|snapshot_date|Age_imputed|Age_missing|debt_to_income       |loan_to_income     |inquiry_per_year   |has_loans|has_overdue|high_utilization|session_sum|fe_1|fe_2|fe_3|fe_4|fe_5|fe_6|fe_7|fe_8|fe_9|fe_10|fe_11|fe_12|fe_13|fe_14|fe_15|fe_16|fe_17|fe_18|fe_19|fe_20|no_clicks|month|week_of_year|days_since_first_loan|hist_bucket|Type_of_Loan_clean|Credit_Mix|Payment_of_Min_Amount|Payment_Behaviour               |
+-----------+-------------+-----------+-----------+---------------------+-------------------+-------------------+---------+-----------+----------------+-----------+----+----+----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+---------+-----+------------+---------------------+-----------+------------------+----------+---------------------+--------------------------------+
|CUS_0x1000 |2023-05-01   |18.0       |0          |0.05103222954136099  |0.32652059006187806|1.0232558138583017 |1        |0          |0               |915        |58  |15  |18  |-101|48  |-33 |238 |119 |75  |52   |39   |131  |-34  |145  |-61  |39   |52   |80   |4    |31   |0        |5    |18          |0                    |<=25th     |Multiple          |Bad       |Yes                  |High_spent_Medium_value_payments|
|CUS_0x1009 |2025-01-01   |26.0       |0          |2.0268E11            |1.0E13             |0.1290322580603538 |1        |0          |1               |0          |0   |0   |0   |0   |0   |0   |0   |0   |0   |0    |0    |0    |0    |0    |0    |0    |0    |0    |0    |0    |1        |1    |1           |0                    |>75th      |Multiple          |unknown   |Yes                  |High_spent_Medium_value_payments|
|CUS_0x100b |2024-03-01   |19.0       |0          |0.009054204734183604 |0.08788783473290239|0.25263157893141275|1        |0          |0               |1704       |210 |129 |107 |118 |-51 |67  |40  |88  |189 |123  |125  |2    |60   |242  |177  |29   |-94  |-38  |380  |-199 |0        |3    |9           |0                    |25-50th    |Unknown           |Good      |No                   |High_spent_Small_value_payments |
|CUS_0x1011 |2023-11-01   |44.0       |0          |0.008030418984063774 |0.16972606383023575|0.4421052631299723 |1        |0          |0               |2847       |142 |229 |121 |29  |278 |145 |309 |-52 |139 |94   |59   |97   |49   |99   |50   |173  |280  |138  |381  |87   |0        |11   |44          |0                    |25-50th    |Multiple          |Standard  |Yes                  |Low_spent_Medium_value_payments |
|CUS_0x1013 |2023-12-01   |44.0       |0          |0.01250758205809745  |0.10139830287632406|0.16822429905598743|1        |0          |0               |1862       |61  |28  |237 |31  |2   |264 |110 |-19 |116 |207  |120  |-6   |121  |28   |-62  |189  |85   |69   |103  |178  |0        |12   |48          |0                    |25-50th    |Multiple          |Good      |No                   |High_spent_Medium_value_payments|
|CUS_0x1015 |2023-08-01   |27.0       |0          |0.007246274947807158 |0.21298791804735634|0.42023346301539766|1        |0          |0               |2326       |-32 |203 |-32 |185 |163 |222 |172 |95  |142 |131  |257  |-35  |164  |-47  |237  |145  |158  |156  |36   |6    |0        |8    |31          |0                    |50-75th    |Unknown           |Standard  |NM                   |Low_spent_Small_value_payments  |
|CUS_0x1018 |2023-11-01   |15.0       |0          |0.0453157710596692   |0.16341255083559925|0.5614035087325331 |1        |0          |0               |2596       |-16 |214 |212 |181 |131 |174 |-1  |249 |250 |125  |90   |119  |-66  |134  |169  |19   |230  |227  |138  |17   |0        |11   |44          |0                    |25-50th    |Multiple          |Bad       |Yes                  |High_spent_Medium_value_payments|
|CUS_0x1026 |2023-10-01   |52.0       |0          |0.004980181025878931 |0.05861174105707882|0.1451612903155567 |1        |0          |0               |2063       |102 |-25 |-46 |144 |-59 |312 |102 |194 |116 |76   |30   |277  |75   |-14  |196  |259  |181  |78   |-10  |75   |0        |10   |39          |0                    |50-75th    |Multiple          |Good      |No                   |High_spent_Medium_value_payments|
|CUS_0x102d |2024-01-01   |31.0       |0          |0.007279666471003186 |0.11227815520703291|0.0991735537157298 |1        |0          |0               |1364       |271 |66  |2   |226 |30  |86  |86  |-5  |-22 |-16  |136  |180  |-18  |162  |209  |-104 |-54  |72   |104  |-47  |0        |1    |1           |0                    |>75th      |Mortgage Loan     |unknown   |No                   |High_spent_Medium_value_payments|
|CUS_0x102e |2024-04-01   |26.0       |0          |0.017115406719960362 |0.19682156786486002|0.1751824817441526 |1        |0          |0               |2210       |45  |27  |-42 |176 |137 |169 |165 |164 |110 |61   |133  |191  |90   |131  |52   |28   |19   |129  |266  |159  |0        |4    |14          |0                    |50-75th    |Multiple          |unknown   |NM                   |High_spent_Medium_value_payments|
|CUS_0x1032 |2023-08-01   |32.0       |1          |0.030670934767774997 |0.16553293161801214|0.553846153812071  |1        |0          |0               |3009       |53  |128 |21  |144 |85  |266 |-41 |101 |329 |201  |185  |219  |240  |67   |383  |131  |140  |193  |166  |-2   |0        |8    |31          |0                    |25-50th    |Multiple          |Standard  |Yes                  |!@9#%8                          |
|CUS_0x1037 |2023-01-01   |45.0       |0          |0.04164215775949395  |0.6254266582483847 |0.15189873416952412|1        |0          |1               |1118       |63  |118 |80  |121 |55  |193 |111 |112 |-101|83   |164  |105  |-16  |-81  |-126 |114  |35   |85   |-73  |76   |0        |1    |52          |0                    |50-75th    |Multiple          |Good      |No                   |Low_spent_Small_value_payments  |
|CUS_0x1038 |2024-10-01   |28.0       |0          |0.004388631589744126 |0.07723608506967716|0.499999999975     |1        |0          |0               |0          |0   |0   |0   |0   |0   |0   |0   |0   |0   |0    |0    |0    |0    |0    |0    |0    |0    |0    |0    |0    |1        |10   |40          |0                    |50-75th    |Multiple          |Standard  |Yes                  |Low_spent_Medium_value_payments |
|CUS_0x103e |2024-12-01   |40.0       |0          |0.0071633830103717145|0.1013265674206704 |0.14860681113998983|1        |0          |0               |0          |0   |0   |0   |0   |0   |0   |0   |0   |0   |0    |0    |0    |0    |0    |0    |0    |0    |0    |0    |0    |1        |12   |48          |0                    |>75th      |Student Loan      |Good      |No                   |Low_spent_Small_value_payments  |
|CUS_0x1041 |2023-11-01   |15.0       |0          |0.5472365564689508   |1.1138201692782652 |0.95999999990784   |1        |0          |0               |1179       |-26 |147 |136 |-129|-40 |204 |48  |-183|120 |-31  |58   |34   |0    |215  |162  |135  |106  |219  |7    |-3   |0        |11   |44          |0                    |<=25th     |Multiple          |Bad       |Yes                  |High_spent_Small_value_payments |
|CUS_0x1044 |2023-06-01   |44.0       |0          |0.004633750966984387 |0.29902884402325675|0.15665796344156685|1        |0          |0               |1289       |64  |-36 |-27 |254 |-142|31  |245 |96  |154 |-26  |32   |101  |63   |80   |146  |62   |66   |125  |40   |-39  |0        |6    |22          |0                    |>75th      |Unknown           |unknown   |No                   |Low_spent_Small_value_payments  |
|CUS_0x1048 |2024-02-01   |27.0       |0          |0.04330683026191086  |0.2359183854500583 |0.69999999993      |1        |0          |0               |2648       |264 |137 |178 |279 |142 |222 |29  |131 |67  |97   |143  |353  |211  |156  |-139 |254  |40   |28   |151  |-95  |0        |2    |5           |0                    |<=25th     |Multiple          |Standard  |Yes                  |High_spent_Small_value_payments |
|CUS_0x104a |2023-12-01   |37.0       |0          |0.07492362190690752  |0.6674948052216338 |0.12403100774809207|1        |0          |1               |1481       |27  |149 |194 |-125|75  |187 |120 |126 |268 |-166 |227  |-108 |202  |29   |70   |42   |52   |-25  |191  |-54  |0        |12   |48          |0                    |>75th      |Multiple          |Good      |No                   |Low_spent_Small_value_payments  |
|CUS_0x104e |2023-06-01   |50.0       |0          |0.05878617601808162  |0.5213527853532962 |0.23841059601701678|1        |0          |0               |1882       |144 |-8  |18  |113 |135 |31  |189 |190 |-30 |-92  |19   |284  |-120 |101  |-61  |161  |143  |260  |208  |197  |0        |6    |22          |0                    |50-75th    |Multiple          |Standard  |No                   |High_spent_Small_value_payments |
|CUS_0x104f |2024-10-01   |20.0       |0          |0.015699267035286683 |0.8820804042750131 |0.4719101123277364 |1        |0          |0               |0          |0   |0   |0   |0   |0   |0   |0   |0   |0   |0    |0    |0    |0    |0    |0    |0    |0    |0    |0    |0    |1        |10   |40          |0                    |25-50th    |Multiple          |unknown   |NM                   |Low_spent_Small_value_payments  |
+-----------+-------------+-----------+-----------+---------------------+-------------------+-------------------+---------+-----------+----------------+-----------+----+----+----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+---------+-----+------------+---------------------+-----------+------------------+----------+---------------------+--------------------------------+
only showing top 20 rows

In [7]:
import os

print("CWD:", os.getcwd())
print("Here:", os.listdir("."))
print("Up one:", os.listdir(".."))
print("Gold dir listing:", os.listdir(os.path.join("..", "datamart", "gold")))

CWD: /app/notebooks
Here: ['eda.ipynb', '.ipynb_checkpoints']
Up one: ['docker-compose.yaml', 'datamart', '.DS_Store', 'requirements.txt', 'Dockerfile', 'utils', '.gitignore', '.ipynb_checkpoints', '.git', 'main.py', 'data', 'notebooks']
Gold dir listing: ['.gitkeep', 'feature_store']

In [8]:
from pyspark.sql import SparkSession

# 1) Get (or create) the Spark session
spark = SparkSession.builder.getOrCreate()

# 2) Read the Gold feature store (relative to /app/notebooks)
gold = spark.read.parquet("../datamart/gold/feature_store")

# 3) Coalesce into 1 file and write CSV with header
gold.coalesce(1) \
    .write \
    .option("header", True) \
    .mode("overwrite") \
    .csv("../export/gold_csv")

25/05/19 16:37:10 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

In [9]:
import os

print("Export folders:", os.listdir("../export"))
print("CSV parts:", os.listdir("../export/gold_csv"))

Export folders: ['gold_csv']
CSV parts: ['._SUCCESS.crc', '.part-00000-6d9bc5c7-59f0-462c-9918-36c636a5ac11-c000.csv.crc', '_SUCCESS', 'part-00000-6d9bc5c7-59f0-462c-9918-36c636a5ac11-c000.csv']